services:
  frontend:
    container_name: frontend-evenmate
    build: frontend
    ports:
      - "4200:4200"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    environment:
      - NODE_ENV=development
      - CHOKIDAR_USEPOLLING=true
  
  backend:
    container_name: backend-evenmate
    build: backend
    ports:
      - "8080:8080"
    volumes:
      - ./backend:/app
      - /root/.m2